
.container{
    padding-block-start: 1.2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 0 auto;
}

.main-items h1 {
    padding-block-end: 4.265rem;
    text-align: center;
} 

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-item label {
    padding-inline-end: 1.25rem;
}

.form-item {
    text-align: end ;
}

.sign-up-lbl {
    text-align: center;
}
.sign-up-lbl a {
    text-decoration: none;
    font-style: italic;
}
.span-sign-up {
    color: green;
}

/* Mobile setting */

@media all and  (min-width: 25rem) and (max-width: 43.6875rem){  

    .main-items h1 {
        padding-block-end: 2.625rem;
    }

    .form-item label {
        vertical-align: left;
        text-align: left;
    }
}

/* Smallest Mobile settings */

@media screen and (min-width: 6.25rem) and (max-width: 24.9375rem) {
    .main-items h1 {
        padding-block-end: 2rem;
    }
}

