.container {
    width: 100vw;
    padding-block-start: 6rem;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.top { 
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-start;
    padding-block-end: 2.825rem;

}
 .left-main {
     flex: initial;
     padding: 4rem;
     width: 40%;
     border-inline-end: .1rem solid transparent;
 }
.bottom {
    padding-inline: 6rem;
    display: flex;
    flex-direction: column;
    border-block-start: .1rem solid darkolivegreen;
    padding-block: 2.625rem;
}

.bottom-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2.125 rem;
}
 .right-main {
     flex: 1;
     padding-inline: 3rem;;
     width: 60%;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-inline-start: .1rem solid transparent;
     text-align: justify;
 }

 .span {
     font-style: italic;
 }

 .span-cv a {
     text-decoration: none;
     text-align: center;
     float: inline-end;
     background: green;
     color: #fff;
     padding-block: .425rem;
     padding-inline: 5rem;
     border: .125rem solid #000;
     border-radius: .4rem;

 }

 h3 {
     text-align: center;
     color: var(--btn-bg-color);
 }

.left-main img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    border-radius: 18rem;   
}

.right-main-contact {
    width: 10rem;
    margin-block-end: 2rem;
    padding-block: 2rem;
    align-self: center;

}

.contact .tbn {
    padding-block-end: 2rem;
}

 .btn {
    margin-block: 2rem;
    width: 15.125rem;
    height: 3.625rem;
    background: var(--btn-bg-color);
    border-radius: 1rem;
    color: #fff;
    font-size: var(--font-size);
    float: right;
}

.skills,
.hobbies,
.interest {
    width: max-content;
}
.skills li,
.hobbies li,
.interest li {
       list-style: none;
       padding-inline: 1.625rem;
       margin-block-start: .5rem;
       border: .1rem solid darkolivegreen;
       border-radius: 2em;
       width:auto;
}

/* Form element settings */

.form-item {
    text-align: end ;
}
.form-item label {
    padding-inline-end: 1rem;
   
}

.input-item {
    width: 30rem;
    padding-block: .6125rem;
    margin-block-end: 1rem;
    border-radius: .4rem ;
}

/*Form elments settings ends here */

.btn:hover {
    transform: scale(2) 2ms ease-in;
    background: purple;
}

/* Mobile version */

@media screen and (min-width: 25rem) and (max-width: 43.6875rem) {
    
    .logo .item {
        font-size: var(--font-size-sm);
    }
    .container {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-block-start: .2rem;
     }
     .left-main {
        padding: .785rem;
        width: 100%;
    }

    .left-main img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: contain;
        padding: 2rem;
        border-radius: 35rem;   
    }
    
    
   h1 .item-sm{
       font-size: var(--font-size-sm);
   }
     h3 {
           font-size: var(--font-size);
    }

    .top {
        display: flex;
        flex-direction: column;    
    }
   
    
.bottom-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.right-main-desc ul {
    margin: 0;
    padding-inline: .05rem;

}
    .right-main-desc-sm p,
    .hobbies-sm li,
    .skills-sm li{
        
        font-size: var(--font-size);
    }


    .right-main {
        padding-inline: .785rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-inline-start: .1rem solid transparent;
        text-align: justify;
    }
    
    /* Form elements settings */

   
    .form-item {
        text-align: start ;
    }

    .form-item label {
        padding-inline-end: .6725rem;
          
    }

    .input-item {
        width: 16.825rem;
        padding-block: .3125rem;
        margin-block-end: 1rem;
        border-radius: .4rem ;
    }
    
    .btn-sm {
        margin-inline: -2.6125rem;
        padding-inline: .025rem;
    }
}

/* Smallest Mobile settings */

@media screen and (min-width: 6.25rem) and (max-width: 24.9375rem) {
 
    .container {
        margin: 0 auto;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding-inline: .7625rem;
        padding-block-start: 3.2rem;
     }
     .left-main {
        padding: .1rem;
        width: 100%;
    }

    .left-main img {
        max-inline-size: 100%;
        block-size: auto;
        object-fit: contain;
        padding-inline: .5rem;
        border-radius: 35rem;   
    }
       
   h1 .item-sm{
       font-size: var(--font-size-sm);
   }
     h3 {
           font-size: var(--font-size);
    }

    .top {
        display: flex;
        flex-direction: column;    
    }
   
    
.bottom-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.right-main-desc ul {
    margin: 0;
    padding-inline: .05rem;

}
    .right-main-desc-sm p,
    .hobbies-sm li,
    .skills-sm li{
        /*
        font-size: var(--font-size); */
        font-size: calc(var(--font-size) - 0.125rem);
    }


    .right-main {
        padding-inline: .785rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-inline-start: .1rem solid transparent;
        text-align: justify;
    }
    
    /* Form elements settings */

    .form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .form-item  label {
        text-align: center ;
        padding-inline: 2.125rem;
    }

    .input-item {
        width: 10.825rem;
        padding: .3125rem;
        margin-block: .1rem;
        border-radius: .4rem ;
    }
   .span-cv a {
    padding-inline: .125rem;
    margin: 0;
    font-size: calc(var(--font-size) - 0rem);
   }
    .bottom-desc ul>li {
        margin: 0rem;
        padding-inline: -2rem;
    }
    
    .right-main-contact-sm .btn {
        margin: 0rem;
        padding-inline: 1rem;
    }

    .btn-sm {
        width: 100%;
        height: 3.625rem;
        margin-inline: -2.6125rem;
        padding-inline: .025rem;
    }
    .footer {
        width: 100%;
        margin: 0 auto;
    }
}