.container{
    padding-block-start: 1.2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.main-items h1 {
    
    text-align: center;
    padding-block-end: 0rem;
}

.main-items h3 {
    padding-block-end: 2rem;
}

.span-reg {
    
    font-size: small;
}

.sign-in-lbl {
    text-align: center;
}
.sign-in-lbl a {
    text-decoration: none;
    font-style: italic;
}
.span-sign-in {
    
    color: green;
}


.form-item {
    text-align: end ;
}

/* Mobile settings */

@media screen  and (min-width: 25rem) and (max-width: 43.6875rem){

    .main-items {
        justify-content: center;
    }
    
    .main-items h1 {
        padding-block-end: 0rem;
    }

    .span-reg {
         text-align: center;
        padding-block-end: .625rem;
    }

}    

@media screen and (min-width: 6.25rem) and (max-width: 24.9375rem) {
    
    .main-items h3 {
        text-align: center;
       padding-block-end: 2rem;
   }
}